@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(29, 29, 36);
}

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-family: "Rubik Mono One", sans-serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

h2 {
  color: rgb(66, 194, 66);
}

#list {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#courses {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  color: white;
}

#scroll {
  position: absolute;
  bottom: 5%;
  margin: 5px;
  color: white;
  text-decoration: none;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
}

#scroll > span {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.box {
  display: flex;
  flex-direction: column;
  text-shadow: 0 0 2px #c8c8c8;
  font-family: "Courier New";
  width: 300px;
  height: 30vh;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.5s;
  background-color: rgb(0, 0, 0);
  border: 1px grey solid;
  border-radius: 10px;
}

.box:hover {
  transform: scale(1.1);
}

.bar {
  height: 10px;
  widows: 100%;
  background-color: grey;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.circle {
  height: 5px;
  width: 5px;
  margin-left: 5px;
  border-radius: 5px;
}

.red {
  background-color: rgb(255, 66, 66);
}

.yellow {
  background-color: rgb(206, 206, 1);
}

.green {
  background-color: rgb(67, 185, 67);
}

.content {
  padding: 5px;
  border-radius: 10px;
}

.welcome {
  margin: 10px;
  min-height: 40vh;
  display: flex;
  justify-content: flex-start;
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.keyword {
  color: rgb(226, 70, 226);
}

.int {
  color: blue;
}

.var-highlight {
  color: #c0ad60;
}

.string-highlight {
  color: rgba(253, 149, 90, 0.8);
}

#sign {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 10px;
}

#typewriter {
  font-size: 3em;
  margin: 0;
}

#typewriter:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
  animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
