@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body {
  margin: 0;
  background-color: rgb(29, 29, 36);
}

p {
  margin: 2px;
}

a {
  margin: 2px;
}

header {
  /* min-height: 40vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  font-family: "Rubik Mono One", sans-serif;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.big {
  font-size: 40px;
}

.title {
  text-align: center;
  font-family: "Archivo Black", sans-serif;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.info h1 {
  margin: 10px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  min-width: 500px;
  margin: 20px;
}

.bottom {
  color: white;
  font-family: "Rubik Mono One", sans-serif;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.navigation {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigation > a {
  margin: 10px;
  text-align: center;
  text-decoration: none;
}

.navigation > a:active {
  color: white;
}

.box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  max-width: 100%;
  vertical-align: middle;
}

.row-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 100%;
}

.row-info > h1 {
  text-align: center;
}

.week {
  height: 30vh;
  width: 100vw;
  vertical-align: middle;
  margin-bottom: 10px;
}

.ta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.week-body {
  font-family: "Rubik Mono One", sans-serif;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid grey;
  border-radius: 10px;
  box-sizing: border-box;
  flex-flow: row wrap;
}

.content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content h1 {
  margin: 10px;
}

.time {
  color: rgb(29, 29, 36);
  width: 20%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Anton", sans-serif;
  border-radius: 9px;
}

.number {
  font-size: 90px;
  margin: 0;
}

.text {
  font-size: 50px;
  margin: 0;
}

a {
  color: rgb(151, 255, 255);
}

li {
  vertical-align: baseline;
  flex-flow: row wrap;
}

#sign {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 10px;
  height: 40px;
}

#sign > a {
  color: aqua;
  text-decoration: none;
}
